doctype html
html
  head
    title Panel de Admin
  body
    h1 Bienvenido, #{user.username}
    ul
      li
        a(href="/admin/products") Administrar Productos
      li
        a(href="/admin/orders") Ver Pedidos
